{
  "name": "Think Then Play",
  "short_name": "Think Then Play",
  "description": "A delightfully simple cognitive performance training tool.",
  "icons": [
    {
      "src": "/assets/icons/favicon-32.png",
      "sizes": "32x32",
      "type": "image/png"
    },
    {
      "src": "/assets/icons/favicon-16.png",
      "sizes": "16x16",
      "type": "image/png"
    },
    {
      "src": "/assets/icons/apple-touch-icon.png",
      "sizes": "180x180",
      "type": "image/png"
    }
  ],
  "theme_color": "#ffffff",
  "background_color": "#ffffff",
  "display": "standalone"
}